<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Prem QA App</title>
    <!-- <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.scss.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toolkit-inverse.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="header">
            <h1 class=" ta">QA App</h1>
        </div>
        <hr/>
    </div>
    <div class="container" id="instructions">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Instructions
                    <ul>
                        <li>Inst1</li>
                        <li>Inst2</li>
                        <li>Inst3</li>
                        <li>Inst1</li>
                        <li>Inst1</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-12 ta">
                <a onclick="loadSection()" class="ce apn ame text-xs-center ta">Start Exam</a>
            </div>
        </div>
    </div>
    <div class="container" id="questions" style="display: none">
        <div class="row">
            <div class="col-md-12" id="questions_container">
            </div>
        </div>
        <div class="row">
            <button id="next_btn" onclick="loadSection()" type="button" class="btn btn-lg btn-pill btn-info">Next</button>
            <button id="finish_btn" onclick="finish()" type="button" class="btn btn-lg btn-pill btn-success">Finish</button>
        </div>
    </div>
    <div id="qns_sample" class="qns_rows" style="display: none">
        <p id="qns_title">Qns</p>
        <p id="ans" style="display: none">Qns</p>
        <ul id="choice_list" class="choice_list" style="list-style: none">
            <li>1</li>
            <li>2</li>
        </ul>
    </div>
    <div class="container ta" id="results">
        <div class="row ta">
            <div class="col-md-12 ta">
                <h3 id="result_text"></h3>
                <div class="col-md- ta" style="max-width: 300px;text-align: center;margin-left: 40%">
                    <canvas id="myChart" width="300" height="300"></canvas>
                    <!--  <canvas id="myCanvas" class="ta" 
    class="ex-graph"
    width="200" height="200"
    data-chart="doughnut"
    data-value="[{ value: 230, color: '#1CA8DD', label: 'Wrong' }, { value: 130, color: '#1BC98E', label: 'Correct' }]"
    data-segment-stroke-color="#252830">
  </canvas> -->
                </div>
                <table class="cl" id="results_table" style="text-align: left">
                    <thead>
                        <t>
                            <th class="header">Section</th>
                            <th class="header">Marks</th>
                            </tr>
                            <tbody>
                            </tbody>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/toolkit.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/application.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/prem.js') }}"></script>

</html>
